@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #111;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game {
  position: relative;
  width: 960px;
  height: 340px;

  overflow: hidden;
  background-image: linear-gradient(#001, #200);
  box-shadow: 0 0 1em #fff1;
}
.player {
  position: absolute;
  /* render function we are creating later will set the position of the player */
  top: var(--player-y, 320px);
  left: var(--player-x, 480px);
  transform: translate(-100%, -100%);
  width: 24px;
  height: 24px;
  background-size: contain;
}

.player.idle {
  background-image: url("./player-idle.gif");
}
.player.run {
  background-image: url("./player-run.gif");
}
.player.jump {
  background-image: url("./player-jump.gif");
}
.player.dead {
  background-image: url("./player-dead.gif");
}
/* https://www.youtube.com/watch?v=atxvy-FVz4Y */
.road {
  position: absolute;
  bottom: 0;
  width: calc(100% + 10px);
  height: 20px;
  background-image: linear-gradient(#555, #333);
}
.road::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-image: repeating-linear-gradient(
    90deg,
    #aaa 0px 5px,
    #aaa0 5px 10px
  );
}
/* https://www.youtube.com/watch?v=atxvy-FVz4Y */
.building {
  position: absolute;
  bottom: 20px;
  left: var(--building-x, 960px);
  border: solid #0007;
  border-width: 0 1ps;
}
.building_fragment {
  position: absolute;
  width: 25%;
  height: 33.334%;
  background-image: url("./building02.png");
  background-size: 1600% 300%;
  filter: hue-rotate(var(--hue));
}
/* https://www.youtube.com/watch?v=atxvy-FVz4Y */
.building_fragment:nth-child(4n + 1) {
  left: 0%;
  background-position-x: calc(var(--buildingImageX, 0%) + 0%);
}
.building_fragment:nth-child(4n + 2) {
  left: 25%;
  background-position-x: calc(var(--buildingImageX, 0%) + 6.25%);
}
.building_fragment:nth-child(4n + 3) {
  left: 50%;
  background-position-x: calc(var(--buildingImageX, 0%) + 12.5%);
}
.building_fragment:nth-child(4n + 4) {
  left: 75%;
  background-position-x: calc(var(--buildingImageX, 0%) + 18.75%);
}
.building_fragment:nth-child(n + 1):nth-child(-n + 4) {
  top: 0%;
  background-position-y: 0%;
}
.building_fragment:nth-child(n + 5):nth-child(-n + 8) {
  top: 33.334%;
  background-position-y: 50%;
}
.building_fragment:nth-child(n + 9):nth-child(-n + 12) {
  top: 66.668%;
  background-position-y: 100%;
}
